{% extends 'base.html.twig' %}

{% block title %} Liste des articles de {{ app.user.nickname }} {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h2>Mes articles</h2>
        <section class="row">
            <ul class="mt-3 card">
                {% for article in app.user.articles %}
                    {% if article.isVisible %}
                        <a href="{{ path('articles_app_article_show', {'slug': article.slug}) }}" class="itemTitle">
                            <li>{{ article.title }}</li>
                        </a>
                        <div class="line my-1"></div>
                    {% else %}
                        <a href="{{ path('articles_app_article_show', {'slug': article.slug}) }}" class="itemTitle d-inline-flex">
                            <li>{{ article.title }} <span class="badge bg-warning text-dark shadow-sm">Bloqué</span> </li>
                        </a>
                        <div class="line my-1"></div>
                    {% endif %}
                {% else %}
                    <p>Pas d'article trouvé.</p>
                {% endfor %}  
            </ul>

            <p class="mt-5 backTo">
                <a href="{{ path('profile_index') }}" class="btn btn-outline-secondary">Retour à mon profil</a>
            </p>
        </section>    
    </main>

    {% include "_parts/_footer.html.twig" %}

{% endblock %}