{% extends 'base.html.twig' %}

{% block title %} Images de {{ app.user.nickname }} {% endblock %}

{% block body %}
    {% include '_parts/_forumHeader.html.twig' %}

    <main class="container">
        <h2>Mes images</h2>
        <section class="row">
            {% for image in app.user.images %}
            <div class="col-6 col-md-4">
                <a href="{{ path('images_app_blog_images_show', {'id': image.id}) }}">
                    <div class="card mt-3">
                        <div class="row g-0">
                            <div class="col-md-4 p-1">
                                <img src="{{ vich_uploader_asset(image, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid rounded h-100 w-100" alt="{{ image.title }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title itemTitle">{{ image.title }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% else %}
                <p>
                    Vous n'avez pas encore enregistré d'images.
                </p>
            {% endfor %}

            <p class="mt-5">
                <a href="{{ path('profile_index') }}" class="btn btn-outline-secondary">Retour à mon profil</a>
            </p>
        </section>
    </main>
{% endblock %}