<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid align-items-end">
            <div class="row col-12 col-md-3 text-center">
                <div class="border">
                    <p class="dateNow">{{ "now"|date('d M Y, H : i', 'Europe/Paris') }}</p>
                    <a href="{{ path('main') }}">
                        <img src=" {{ asset('assets/icons/jupiter.ico') }}" alt="Logo site" class="logo">
                        <p class="mt-1">Page d'accueil du site</p>
                    </a>
                </div>
            </div>

            <div class="col-12 col-md-6 text-center mb-2">
                <div  class="mt-2">
                    <h1 class="siteTitle">Réseau social</h1>
                    <p>Bienvenue sur la partie privée notre réseau social</p>
                </div>

                <div class="navbar-nav">
                    <ul class="nav w-100 justify-content-center flex-column flex-md-row">
                        {% if app.user %}
                            {% if app.user.isEnabled %}
                                {% if app.user.isVerified %}
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="{{ path('forum_index') }}">Retour à l'accueil du forum</a>
                                    </li>
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="{{ path('images_app_blog_images_index') }}">Partage d'images</a>
                                    </li>
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="{{ path('articles_app_articles') }}">Partage d'articles</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="{{ path('forum_index') }}">Retour à l'accueil du forum</a>
                                    </li>
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="#">Partage d'images</a>
                                    </li>
                                    <li class="nav-item ms-2">
                                        <a class="nav-link" href="#">Partage d'articles</a>
                                    </li>
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        
            <nav class="navbar text-center">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span> <!-- voir modification apparence ? -->
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {{ app.user.nickname }}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                                    {% if is_granted ('ROLE_ADMIN') %} 
                                        <li>
                                            <a class="dropdown-item" href="{{ path('admin_index') }}">Administration du forum</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% elseif is_granted ('ROLE_MODO') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('modo_index') }}">Modération du forum</a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                    {% endif %}
                                    {% if app.user %}
                                        {% if app.user.isEnabled %}
                                            <li>
                                                <a class="dropdown-item" href="{{ path('forum_rules') }}">Réglement du site</a>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('profile_index') }}">Mon compte</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a>
                                            </li>
                                        {% else %}
                                            Aucun utilisateur connecté
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </nav>
</header>