<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <div class="row col-12 col-md-3 text-center">
                <div class="border">
                    <a href="{{ path('main') }}">
                        <p class="dateNow">{{ "now"|date('d M Y, H : i', 'Europe/Paris') }}</p>
                        <img src=" {{ asset('assets/icons/jupiter.ico') }}" alt="Logo site" class="logo">
                        <p class="mt-2">Page d'accueil du site</p>
                    </a>
                </div>
            </div>
            
            <div class="col-12 col-md-6 w-100 text-center">
                <div class="mt-2">
                    <h1 class="siteTitle">Réseau social</h1>
                    <p>Bienvenue sur notre réseau social</p>
                </div>
            
                <div class="navbar-nav">
                    <ul class="nav w-100 justify-content-center">
                        {% if app.user %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{{ path('forum_index') }}">Accès au forum</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{{ path('profile_index') }}">Mon compte</a>
                            </li>
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                            </li>
                        {% else %}
                            <li class="nav-item ms-2">
                                <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-3 align-self-end text-center">
            {% if app.user %}
                Compte : {{ app.user.nickname }}
            {% else %}
                Aucun utilisateur connecté
            {% endif %}
        </div>
    </nav>

</header>