{% extends "base.html.twig" %}

{% block title %}Admi - Modification d'un utilisateur {% endblock title %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h2 class="mt-3">Modifier un utilisateur</h2>

        <article class="mt-3">
            <p>
                <div>Bloqué / Autorisé</div>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckChecked"></label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" {{ (users.isEnabled) ? 'checked' : '' }} data-id="users.id">
                </div>
            </p>
            {{ form_start(form) }}
                {{ form_row(form.nickname) }}
                {{ form_row(form.roles) }}
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-primary mt-3 btn-lg">Modifier l'utilisateur</button>
            {{ form_end(form) }}
        </article>

        <p class="m-3 d-flex justify-content-end">
            <a href="{{ path('admin_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
        </p>
    </main>

    <script src="{{ asset('assets/js/scriptsUsers.js') }}"></script>
    
{% endblock %} 