{% extends 'base.html.twig' %}

{% block title %}Admin - Modération des utilisateurs{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h2 class="mt-3">Liste des utilisateurs à modérer</h2>

        <p class="m-3 d-flex justify-content-end">
            <a href="{{ path('admin_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
        </p>

        <section class="row">
            <table class="table table-striped mt-5">
                <thead>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Vérifié</th>
                    <th>Rôle(s)</th>
                    <th>Bloqué / Autorisé</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.nickname }}</td>
                            <td>{{ user.email }}</td>
                            <td class="text-center">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="switch{{ user.id }}" {{ (user.isVerified) ? 'checked' : '' }} data-id="{{ user.id }}" disabled>
                                    <label class="form-check-label" for="switch{{ user.id }}"></label>
                                </div>
                            </td>
                            <!--<td>{{ user.roles|json_encode() }}</td>-->
                            <td>
                                {% for role in user.roles %}
                                    {% if role == "ROLE_ADMIN" %}
                                        {% set name = "Administrateur" %}
                                        {% set color = "black" %}
                                    {% elseif role == "ROLE_MODO" %}
                                        {% set name = "Modérateur" %}
                                        {% set color = "danger" %}
                                    {% else %}
                                        {% set name = "Membre" %}
                                        {% set color = "secondary" %}
                                    {% endif %}
                                    <span class="badge bg-{{ color }}">{{ name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                <div class="form-check form-switch">
                                    <label class="form-check-label" for="switch{{ user.id }}"></label>
                                    <input class="form-check-input ms-2" type="checkbox" role="switch" id="switch{{ user.id }}" {{ (user.isEnabled) ? 'checked' : '' }} data-id="{{ user.id }}" disabled>
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('admin_users_edit', {'id': user.id}) }}" class="btn btn-warning">Modifier</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody> 
            </table>

            <div class="backTo">
                <p class="m-3 d-flex justify-content-end">
                    <a href="{{ path('admin_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
                </p>
            </div>
            
        </section>
    </main>

    {% include "_parts/_footer.html.twig" %}

    <script src="{{ asset('assets/js/scriptsUsers.js') }}"></script>

{% endblock %}
