{% extends "base.html.twig" %}

{% block title %}Article : {{ article.title }}{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <section class="card m-2 m-md-5">
            <div class="card-body">
                <p class="card-title font-weight-bold h3">{{ article.title }}</p>
                <small class="card-subtitle text-muted">{{ article.user.nickname }}</small>
                <p class="card-text mt-2">{{ article.summary }}</p>
                <p class="card-text">{{ article.content}}</p>
                
                

                {% if is_granted ('ROLE_ADMIN') %}
                    {% if app.user is not same as (article.user) %}
                        {% if article.isVisible %}
                            <p class="card-link mt-4">
                                <a href="{{ path('articles_app_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-outline-primary">Modifier l'article</a>
                                {{ include('articles/_delete_form.html.twig') }}
                            </p>
                        {% else %}
                            <p class="card-link mt-4">
                                <p class="btn btn-warning">Article bloqué</p>
                                <p>
                                    <a href="{{ path('articles_app_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-outline-primary">Modifier l'article</a>
                                    {{ include('articles/_delete_form.html.twig') }}
                                </p>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {% if is_granted ('ROLE_MODO')%}
                    {% if article.isVisible %}
                        <p class="card-link mt-4">
                            <a href="{{ path('articles_app_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-outline-primary">Modifier l'article</a>
                            {{ include('articles/_delete_form.html.twig') }}
                        </p>
                    {% else %}
                        <p class="card-link mt-4">
                            <p class="btn btn-warning">Article bloqué</p>
                            <p>
                                <a href="{{ path('articles_app_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-outline-primary">Modifier l'article</a>
                                {{ include('articles/_delete_form.html.twig') }}
                            </p>
                        </p>
                    {% endif %}
                {% endif %}

                {% if is_granted ('ROLE_USER') %}
                    {% if app.user is same as (article.user) %}
                        {% if article.isVisible %}
                            <p class="card-link mt-4">
                                <a href="{{ path('articles_app_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-primary">Modifier l'article</a>
                                {{ include('articles/_delete_form.html.twig') }}
                            </p>
                        {% else %}
                            <p class="bg-warning p-3">
                                Cet article a été bloqué par un administrateur ou un modérateur, il n'est pas visible par les autres utilisateurs. <br>
                                Pour plus de renseignements, contacter un administrateur.
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                
            </div>
        </section>

        <p class="card-link backTo">
            <a href="{{ path('articles_app_articles') }}" class="btn btn-secondary">Retour à la liste d'articles</a>
        </p>
    </main>

    {% include "_parts/_footer.html.twig" %}
    
{% endblock %}