{% extends "base.html.twig" %}

{% block title %}Article : {{ article.title }}{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <section class="container">
        <h1>{{ article.title }}</h1>
        <small class="text-secondary">{{ article.user.nickname}}</small>
        <article>
            <p>{{ article.summary }}</p>
            <p>{{ article.content}}</p>
            <p>
            {% if app.user is same as (article.user) %}
                <a href="{{ path('articles_app_article_edit', {'title': article.title})|lower  }}" class="btn btn-primary">Modifier l'article</a>

                {{ include('articles/_delete_form.html.twig') }}
            {% endif %}
            </p>
            <a href="{{ path('articles_app_articles') }}" class="btn btn-secondary">Retour à la liste d'articles</a>
        </article>
    </section>


{% endblock %}