{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <section class="container">
        <h2>Modifier un article</h2>
        <article class="mt-3">
            {{ form_start(article) }}
                {{ form_row(article.title) }}
                {{ form_row(article.summary) }}
                {{ form_row(article.content) }}
                <button type="submit" class="btn btn-primary mt-3 btn-lg">Modifier l'article l'article</button>
            {{ form_end(article) }}
        </article>
    </section>

    <a href="{{ path('app_articles') }}">Retour à la liste d'articles</a>


{% endblock %}
