{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h2 class="mt-3">Liste des articles à modérer</h2>

        <p class="m-3 d-flex justify-content-end">
            <a href="{{ path('admin_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
        </p>

        <section class="row mt-5">
            <table class="table table-striped">
                <thead>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Résumé</th>
                    <th>Visible</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.id }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.user.nickname }}</td>
                            <td>{{ article.summary }}</td>
                            <td>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked{{ article.id }}" {{ (article.isVisible) ? 'checked' : '' }} data-id="{{ article.id }}">
                                    <label class="form-check-label" for="flexSwitchCheckChecked{{ article.id }}"></label>
                                </div>
                            {{ article.isVisible }}</td>
                            <td>
                                <a href="{{ path('admin_article_edit', {'slug': article.slug})|lower  }}" class="btn btn-warning">Modifier</a>
                                <a href="" class="btn">{{ include('articles/_delete_form.html.twig') }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="m-3 d-flex justify-content-end">
                <a href="{{ path('admin_index') }}" class="btn btn-warning">Retour au panneau de modération</a>
            </p>

        </section>
    </main>

    <script src="{{ asset('assets/js/scriptsArticles.js') }}"></script>


{% endblock %}
