{% extends 'base.html.twig' %}

{% block title %}Modification image{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container">
        <h2 class="mt-3">Modifier une image</h2>
        <section class="mt-3"> 
            <img class="img-thumbnail modifPicture" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.title }}">
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.description) }}
                {{ form_row(form.image_url) }}
                {% if app.user is same as (image.user) %}
                    <button type="submit" class="btn btn-primary mt-3 btn-lg">Modifier l'image</button>
                {% endif %}
            {{ form_end(form) }}
        </section>
        {% if app.user is same as (image.user) %}
            <p>
                {{ include('blog_images/_delete_form.html.twig') }}
            </p>
        {% endif %}

        {% for role in app.user.roles %}
            {% if role == "ROLE_MODO" %}
                {% if app.user is not same as (image.user) %}
                    <p class="card-link mt-4">
                        <button type="submit" class="btn btn-outline-primary mt-3 btn-lg">Modifier l'image</button>
                        {{ include('blog_images/_delete_form.html.twig') }}
                    </p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <p class="backTo">
            <a href="{{ path('images_app_blog_images_index') }}" class="btn btn-secondary">Retour à la liste d'image</a>
        </p>
    </main>
    
    {% include "_parts/_footer.html.twig" %}

{% endblock %}
