{% extends 'base.html.twig' %}

{% block title %}Image : {{ image.title }}{% endblock %}

{% block body %}

    {% include "_parts/_forumHeader.html.twig" %}

    <section class="container">
        <h2>{{ image.title }}</h2>
        <small class="text-secondary">{{ image.user.nickname }}</small>
        <article class="text-center">
            <img class="img-thumbnail" src="{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{ image.title }}">
            <p>{{ image.description }}</p>
            <p>
                {% if app.user is same as (image.user) %}
                    <a href="{{ path('images_app_blog_images_edit', {'id': image.id}) }}" class="btn btn-primary">Modifier l'image</a>
                    {{ include('blog_images/_delete_form.html.twig') }}
                {% endif %}
            </p>
        </article>
        <p class="text-start">
            <a href="{{ path('images_app_blog_images_index') }}" class="btn btn-secondary">Retour à la liste d'images</a>
        </p>
    </section>

{% endblock %}
