{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block body %} 

    {% include "_parts/_forumHeader.html.twig" %}

    <main class="container m-auto pb-5">
        <section class="row">
            {% if app.user %}
                {% if app.user.isEnabled %}
                    <div class="mt-3 text-center ">
                        <span class="backgroundTitle h2 px-3 rounded">Choix du forum </span>
                    </div>
                    
                    <div class="row d-flex justify-content-evenly m-auto"> 
                        <div class="card col-md-5 mt-4 forumCard">
                            <div class="card-body">
                                <p class="card-title h5">Forum Images</p>
                                <p class="card-text mt-2">Exemple d'image postée sur le forum d'images.</p>
                                <p class="text-center mb-5">
                                    {% if images %}
                                        {% if images.isVisible %}
                                            <img src="{{ vich_uploader_asset(images, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid rounded mt-2" alt="{{ images.title }}">
                                        {% else %}
                                            <img src=" {{ asset('assets/icons/jupiter.ico') }}" alt="Logo site" class="logo mt-4">
                                        {% endif %}
                                    {% else %}
                                        <img src=" {{ asset('assets/icons/jupiter.ico') }}" alt="Logo site" class="logo mt-4">
                                    {% endif %}
                                </p>
                                <p class="card-text text-center d-flex align-items-end justify-content-center">
                                    {% if app.user.isVerified %}
                                        <a href="{{ path('images_app_blog_images_index') }}" class="btn btnSend">Forum images</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="card col-md-5 mt-4 forumCard">
                            <div class="card-body d-flex row">
                                <p class="card-title h5">Forum Articles</p>
                                <p class="card-text mt-2">Exemple d'article posté sur le forum d'articles</p>
                                <p class="card-text mt-auto">
                                    {% if articles %}
                                        {% if articles.isVisible %}
                                            <p class="border p-2"> {{ articles.summary }} </p>
                                        {% else %}
                                            <p class="border p-2">Article choisi au hasard parmi les articles enregistrés dans la base de données. </p>
                                        {% endif %}
                                    {% else %}
                                        <p class="border p-2">Article choisi au hasard parmi les articles enregistrés dans la base de données. </p>
                                    {% endif %}
                                </p>
                                <p class="card-text text-center d-flex align-items-end justify-content-center align-self-end">
                                    {% if app.user.isVerified %}
                                        <a href="{{ path('articles_app_articles') }}" class="btn btnSend">Forum articles</a>
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        <div class=" col-8 mt-5 mx-auto">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p class="card-title h2 text-danger font-weight-bold">Message d'avertissement</p>
                                    <p class="card-text mt-5">Votre compte a été désactivé par un administrateur.</p>
                                    <p class="card-text mt-2 mb-4">Pour le réactiver, veuillez contacter un administrateur.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="row">
                    <div class=" col-8 mt-5 mx-auto">
                        <div class="card">
                            <div class="card-body text-center">
                                <p class="card-title h1 text-danger font-weight-bold">Accès interdit</p>
                                <p class="card-text mt-2 mb-4">Inscrivez-vous et connectez-vous pour avoir accès à cette partie du forum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </main>
    
    {% include "_parts/_footer.html.twig" %}

{% endblock %}